extends layouts.pug

block content
    .col-12
        h1 
          center List Todo
        hr
        ul
            each task in tasks
                li
                    a(href='updatedetails/'+task._id)=task.name
        hr

